<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece Guess Who</title>
    <link rel = "stylesheet" 
    href = "{{url_for('static', filename = 'css/style.css')}}"
    />
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"> 
    </script>
</head>
<body>
    <div class = "content">
        <div class="home-background">
            <form method="post" class="buttons">
                <h3 class="study">One Piece Guess Who</h3>
                <div class="username">
                    <input type="text" placeholder="choose a username..." name="name" value="{{ name }}" class="center-input"/>
                </div>
                <div class="room-code">
                    <input type="text" placeholder="enter game code..." name="code" value="{{ code }}" class="center-input"/>
                    
                </div>
                <button type="submit" name="join" class="join-button">Join A Game</button>
                <button type="submit" name="create" class="create-btn">Create A Game</button>
                {% if error %}
                <ul>
                    <li>{{ error }}</li>
                </ul>
                {% endif %}
            </form>
        </div>
       
    </div>
</body>
</html>


